.app {
  margin: 3rem;
}

.home {
  min-height: 85vh;
  line-height: 2;
  color: #cccbbb;
  background-image: linear-gradient(to left, #222, #888);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content > a {
    display: block;
    width: 51rem;
    height: 7rem;
    color: #cccbbb;

    &:hover {
      color: white;
      font-size: 1.8rem;
    }
  }
}
