.btn {
  padding: 1.3rem 2rem;
  display: inline-block;
  height: 45px;
  min-width: 150px;
  font-size: 1.7rem;
  transition: 0.15s;
  background-color: green;
  border-radius: 0.7rem;
  color: snow;
  text-decoration: none;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 50%);

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 1rem rgba(0 0 0 / 50%);
    background-color: rgba(#00ff00, 0.8);
    color: #777;
    font-weight: bold;
  }

  &:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 0.3rem rgba(0 0 0 / 50%);
    background-color: springgreen;
  }

  &-primary {
    background-color: skyblue;
  }

  &-secondary {
    background-color: springgreen;
  }

  &-warning {
    background-color: yellow;
  }

  &-active {
    clip-path: polygon(
      0 30%,
      30% 0,
      70% 0%,
      100% 30%,
      100% 60%,
      70% 100%,
      30% 100%,
      0 60%
    );
  }
}
