.section {
  &__users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--list {
      height: 16rem;
      width: 100%;
      margin: 0 auto;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
